:root {
  --clr-alpha: #032A53;
  --clr-beta: #E7E7E7;
  --clr-omega: #F5F7FD;
  --clr-psi: #595959;
  --max-width: 70rem;
  --radius: 1rem;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5% !important;
}

body {
  align-items: center;
  background-color: var(--clr-alpha);
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--clr-psi);
  font-size: 1.6rem;
}

.wrapper {
  background-color: var(--clr-omega);
  border-radius: var(--radius);
  max-width: var(--max-width);
  padding-left: 2rem;
  padding-right: 2rem;
}

.wrapper.list {
  padding: 2rem;
}

.btn {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 6rem;
  width: 6rem;
}

.btn:active,
.btn:focus {
  outline: none;
  border: none;
}

@media screen and (max-width: 768px) {
  .btn {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 48px;
    width: 48px;
  }
}

.btn-avatar {
  width: 4rem;
}

.text-center {
  text-align: center;
}

.avatar-wrapper {
  margin: auto;
  display: inline-block;
}

.my {
  margin: 2rem; 
}